.nav {
  &--Router {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    &__ul {
      display: flex;
      align-self: center;
      width: $main-width;
      justify-content: space-around;
      padding: 0.5rem;
    }

    &__Link {
      font-family: $subtitle-font;
      text-decoration: none;
      font-size: $subtitle-font-size;

      padding: 0.3rem 0.8rem;

      border: 2px solid transparent;

      &:hover {
        @include border-gradient(bottom, $color-primary, $color-bright, 0 100%);
        border-radius: 8px;
        color: $color-primary-med;

        @include my-box-shadow(0 1rem 2rem, 0.2);
      }
    }

    &__content {
      background-color: rgba($color: $color-dark, $alpha: 0.05);
      border-radius: 8px;
    }
  }
}

.active {
  color: black;

  @include border-gradient(bottom, $color-primary, $color-bright, 0 100%);
}

.slide-enter,
.slide-exit {
  transition: transform 400ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}

hr {
  @include border-gradient(
    left,
    $color-primary,
    $color-primary-dark,
    0 0 100% 0
  );
}
