.nav {
  &--Router {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    &__ul {
      display: flex;
      align-self: center;
      width: $main-width;
      justify-content: space-around;
      padding: 0.5rem;
    }

    &__Link {
      font-family: $subtitle-font;
      text-decoration: none;
      font-size: $subtitle-font-size;

      padding: 0.3rem 0.8rem;

      border: 2px outset transparent;
      border-radius: 8px;

      &:hover {
        border: 2px inset $color-primary;
        border-radius: 8px;
        color: $color-primary-light;
        background-color: $color-primary-dark;
      }
    }
  }
}

.active {
  border: 2px outset $color-primary-dark;
  border-radius: 8px;

  color: black;
}

.slide-enter,
.slide-exit {
  transition: transform 400ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}
