.nav {
  &--Router {
    display: flex;
    justify-content: center;
    align-content: center;

    &__ul {
      display: flex;

      width: $main-width;
      justify-content: space-around;
      padding: 0.5rem;
    }
    &__Link {
      font-family: $subtitle-font;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}
