.portfolio-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  width: 60rem;

  @include border-gradient(bottom, $color-primary, $color-primary-dark, 1 100%);

  margin-bottom: 1.5rem;

  position: relative;
  overflow: hidden;

  font-size: $body-font-size;
  line-height: $body-line-height;

  @include respond(tablet-land) {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 1rem;
  }

  @include respond(tablet-land) {
    width: 40rem;
  }

  @include respond(tablet-port) {
    width: 35rem;
  }

  &__heading {
    z-index: 500;
    padding: 0.2rem;
    background-color: $color-cream;
    border: 2px solid $color-cream;
    border-radius: 8px;
  }

  &__description {
    opacity: 0;

    @include respond(tablet-land) {
      opacity: 1;
      padding-bottom: 0.5rem;
    }
  }

  &__link {
   display: flex;
  }

  &__img {
    width: 45%;
    z-index: 100;
    transform: scale(2) translate(30%,25%);
    transition: all 0.5s ease-in;
  }

  &__caption {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(20%, 0);
    opacity: 0;
    transition: all 0.5s;
    margin-bottom: 1rem;

  }

  &:hover {
    @include my-box-shadow(0 1rem 2rem, 0.2);
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(20%, 100%);
    text-shadow: 1px 1px 5px rgba($color: $color-cream, $alpha: 1);
    width: 75%;
    margin-bottom: 1rem;
  }

  &:hover &__img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(2.5) translate(30%, 25%);
    filter: blur(3px) brightness(80%);
    opacity: 0.5;
  }
}
