.portfolio-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  @include border-gradient(bottom, $color-primary, $color-primary-dark, 1 100%);

  margin-bottom: 1.5rem;

  position: relative;
  overflow: hidden;

  font-size: $body-font-size;
  line-height: $body-line-height;

  @include respond(tablet-land) {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__heading {
    z-index: 500;
    padding-bottom: 0.5rem;
  }

  &__description {
    opacity: 0;

    @include respond(tablet-land) {
      opacity: 1;
      padding-bottom: 0.5rem;
    }
  }

  &__link {
    text-align: center;

    @include respond(tablet-land) {
      width: 40rem;
    }

    @include respond(tablet-port) {
      width: 35rem;
    }
  }

  &__img {
    width: 65%;
    z-index: 100;
    transform: scale(1);
    transition: all 0.5s ease-in;
  }

  &__caption {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover{
    @include my-box-shadow(0 1rem 2rem, 0.2)
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(100%, 100%);
  }

  &:hover &__img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(1.5);
    filter: blur(3px) brightness(80%);
  }
}
