@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sacramento';
    src: url('../../fonts/Sacramento/Sacramento-Regular.woff2') format('woff2'),
        url('../../fonts/Sacramento/Sacramento-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h1{
    font-family: $title-font;
    font-size: $title-font-size;
    font-weight: 100;
}

h2, h3, h4, h5, h6{
    font-family: $subtitle-font;
}

ul{
    list-style: none;
}

li{
    &:link,
    &:visited{
        text-decoration: none;
       
    }
}
