.home {
  font-size: $body-font-size;
  line-height: $body-line-height;
  padding: 2rem 0;

  &__heading {
    font-size: $h3-font-size;
    text-align: center;
    padding: 1rem 0;
  }

  &--bio {
    display: flex;
    flex-flow: column wrap;

    &__para {
      padding: 0 2rem;
      place-self: center;
      width: 85%;
    }

    &__img {
      width: 50%;
      padding: 0 1rem;
      place-self: center;
    }
  }

  &__shape {
    @include round-shape;
  }

  &__shape img {
    @include round-img;
  }

  &--skills {
    &__item {
      width: 15rem;
      text-align: center;
    }
  }

  &--tech {
    display: flex;
  }
}
