.home {
  font-size: $body-font-size;
  line-height: $body-line-height;
  padding: 2rem 0;

  &__heading {
    font-size: $h3-font-size;
    text-align: center;
    padding: 1rem 0;
  }

  &--bio {
    display: flex;
    flex-flow: column wrap;

    &__para {
      padding: 0 2rem;
      place-self: center;
      width: 85%;
    }

    &__img {
      width: 50%;
      padding: 0 1rem;
      place-self: center;

      @include respond(phone){
        align-self: center;
      }
    }
  }

  &__shape {
    @include round-shape;

    @include respond(phone){
      align-self: center;
    }
  }

  &__shape img {
    @include round-img;

    @include respond(phone){
      align-self: center;
    }
  }

  &--skills {
    &__item {
      width: $img-size-small;
      text-align: center;
    }
  }

  &--tech {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      width: $full-vh-width;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include respond(tablet-land) {
        width: auto;
      }

      @include respond(phone){
        padding: 0;
        margin: 0;
      }
    }

    @include respond(phone){
      margin: 0;
      padding: 0;
    }
  }
}
