// gradient border

@mixin border-gradient($direction, $color-light, $color-dark, $size){
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to $direction, $color-light, $color-dark)
    $size;
}


// create the round shape for images

@mixin round-shape {
  width: $img-size-small;
  height: $img-size-small;
  float: left;

  -webkit-transform: translateX($translate-negative-small);
  transform: translateX($translate-negative-small);
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  border-radius: $border-radius-50;
  justify-self: center;

  outline: 1px solid transparent;

  @supports (clip-path: circle(0 0)) or (-webkit-clip-path: circle(0 0)) {
    -webkit-clip-path: circle($border-radius-50 at $border-radius-50 $border-radius-50);
    clip-path: circle($border-radius-50 at $border-radius-50 $border-radius-50);
    -webkit-shape-outside: circle($border-radius-50 at $border-radius-50 $border-radius-50);
    shape-outside: circle($border-radius-50 at $border-radius-50 $border-radius-50);
    border-radius: none;
  }
}

// make the img fit into the rounded shape above

@mixin round-img {
  width: auto;
  height: 100%;
  transform: scale(1.4);
  transition: all 0.5s ease-in;
}

//media query manager
/*


0     -   600px:      Phone
600   -   900px:      Tablet portrait
900   -   1200px:     Tablet landscape
1200  -   1800px:     Desktop (where our normal styles apply)
1800  +         :     Big desktop

$breakpoint argument choices:
- phone
- tablet-port
- tablet-land
- big-desk

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px /16
      @content;
    }
  }

  @if $breakpoint == tablet-port {
    @media only screen and (max-width: 56.25em) {
      //900px /16
      @content;
    }
  }

  @if $breakpoint == tablet-land {
    @media only screen and (max-width: 75em) {
      //1200px /16
      @content;
    }
  }

  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) {
      //1800px /16
      @content;
    }
  }
} ;
