//text

$title-font: "Sacramento", cursive;
$title-font-size: 5rem;

$subtitle-font: "Open Sans", sans-serif;
$subtitle-font-size: 1.5rem;

$h3-font-size: 1.45rem;

$body-font: "Open Sans", sans-serif;
$body-font-size: 1.3rem;
$body-line-height: 1.7;

$med-font-size: 1rem;

$small-font-size: 0.9rem;

//img and icons

$icon-font-size: 2.5rem;

$img-size-small: 15rem;

// width

$main-width: 60vh;
$full-vh-width: 125vh;

// grid

$grid-column-space: 6.5rem;
$grid-column-space-small: 2rem;
$grid-column-space-extraS: 0.5rem;

$row-gap-space: 1.5rem;

$grid-rows-space: 18rem;

//other

$translate-negative-small: -3rem;

$border-radius-50: 50%;

// colours

$color-cream:#FFFFFE;

$color-primary: #8fd9a8;
$color-primary-light: #FDFEFC;
$color-primary-dark: #0a5e2e;

$color-primary-med:  #65D0BE;

$color-secondary: #0A3804;

$color-dark: #000100;

$color-grey: #E3E9E6;

$color-bright: #d2e69c;

// other colour options

// #0A5E2E
// #0D6C3E
// #10794F
// #148661
// #199275
// #1D9E89
// #23AA9F
// #28b5b5
// #3CBEB7
// #50C7BA
// #65D0BE
// #7AD8C3
// #90E0CA
// #A6E7D2
// #BDEEDB
