$title-font: "Sacramento", cursive;
$subtitle-font: "Open Sans", sans-serif;

$body-font: "Roboto", sans-serif;

$main-width: 60vh;

$grid-column-space: 6.5rem;
$grid-column-space-small: 2rem;

$row-gap-space: 1.5rem;

$grid-rows-space: 18rem;

$img-size-small: 15rem;

$translate-negative-small: -3rem;

$border-radius-50: 50%;