// grid layout
.top {
  &__left {
    grid-area: top-left;
  }

  &__right {
    grid-area: top-right;
  }
}

.middle {
  &__left {
    grid-area: middle-left;
  }

  &__right {
    grid-area: middle-right;
  }
}

.bottom {
  &__left {
    grid-area: bottom-left;
  }

  &__right {
    grid-area: bottom-right;
  }
}

.home--bio__content {
  display: grid;
  grid-template-columns: $grid-column-space auto $grid-column-space-small auto $grid-column-space;
  grid-template-rows: $grid-rows-space;

  row-gap: $row-gap-space;
  grid-template-areas:
    ". top-left . top-right ."
    ". middle-left . middle-right . "
    ". bottom-left . bottom-right . ";
}
